

body {
  max-width: 500px;
  margin: 0 auto;
}



.ng-invalid.ng-dirty {border-color: red}
.ng-valid.ng-dirty {border-color: green}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
